.style-2{
    background-color: var(--light-cream);
    padding-top: 2rem;
    padding-bottom: 5rem;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container{
    text-align: left;
}