.header{
    text-align: center;
    background-color: var(--coral);
    color: var(--cream);
    align-items: center;
    // padding-top: 8.875rem;
    padding-bottom: 3.125rem;
}

.site-title{
    color: var(--cream); //to do: wont inherit from .header, pls fix
}

.bottom-text{
    padding-right: 4rem;
    padding-left: 4rem;   
}

.panda{
    padding-right: 2rem;
    height: 11.25rem;
    width: 11.25rem;
    justify-content: center;
}

@media (min-width: 480px) {
    .panda{
        height: 20rem;
        width: 20rem;
        display: flex;
        justify-content: flex-start;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}