.headroom{
  background-color: var(--coral);
  font-family: 'Fredoka One';
}

.panda-nav{
  height: 4rem;
  width: 4rem;
  filter: none;
  align-items: flex-end;
}

@media (min-width: 480px) {
  .top-bar{
    justify-content: flex-end;
  }

  .panda-nav{
    align-self: flex-start;
  }
}
