.headroom{
  background-color: var(--coral);
  font-family: 'Fredoka One';
  align-items: baseline;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.panda-nav{
  display: none;
}

#top-nav{
  display: none;
}

@media (min-width: 480px) {
  .headroom{
    display: flex;
    align-items: center;
  }

  #top-nav{
    display: block;
  }

  .nav-link{
    text-decoration: none;
    color: var(--dark-brown);
  }

  .panda-nav{
    display: block;
    height: 4rem;
    width: 4rem;
    filter: none;
    padding-left: 2rem;
  }
}
