/* Container styling */

.nav-container{
  background-color: var(--dark-brown);
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Title styling */

.title-text{
  margin-left: 200px;
}

.site-title{
  color: var(--coral);
  margin: 0;
  font-size: 50px;
  text-decoration: none;
}

h2{
  color: var(--peach);
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 25px;
}

.soup-picture{
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 8px;
  height: 140px;
  width: 140px;
  position: absolute;
  top: 20px;
  left: 0;
}

/* Nav bar styling */

.nav-bar{
  margin-right: 30px;
}

.nav-bar a {
  color: var(--cream);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.nav-bar a:hover {
  background-color: var(--peach);
  color: var(--dark-brown);
}
    
.nav-bar a.active {
  background-color: var(--coral);
  color: var(--cream);
}