a{
    color: #ff926b;
    margin: 0;
    font-size: 50px;
    text-decoration: none;
}

h2{
    color: #ffc38b;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 25px;
}

header{
    background-color: #4d3e3e;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-text{
    margin-left: 200px;
}

.soup-picture{
    padding-left: 20px;
    padding-right: 20px;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 20px;
    left: 0;
}