.style-1{
    background-color: var(--cream);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (min-width: 769px) {
    .style-1-p{
        padding-right: 34%;
        padding-left: 34%;
    }
}