.style-1{
    background-color: var(--cream);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.style-2{
    background-color: var(--light-cream);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}